
.title{
    margin: 0 12px;
    padding: 5px 10px;
    color: brown;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}
.radio {
    display: inline-block;
    margin: 0 12px;
}
.input {
    display: none;
}
.label {
    color:  burlywood;
    font-size: 14px;
    line-height: 28px;
    padding: 0px 10px;
}

