.inner{
    height: 100px;
    background-color: antiquewhite;
}
.options{
    text-align: center;
    padding: 10px;
}

.btnShow{
    font-size: 14px;
    width:110px;
    background-color: inherit;
    color: brown;
    margin: 5px;
    border: 1px solid brown;
    border-radius: 5px;
    padding: 2px;
}

.btnShow:hover{
    background-color:brown;
    color: antiquewhite;
}


